[submodule "tinyengine-core"]
	path = tinyengine-core
	url = git@github.com:zhaolanhuang/tinyengine-core.git
[submodule "tinyengine-codegen"]
	path = tinyengine-codegen
	url = git@github.com:zhaolanhuang/tinyengine-codegen.git
[submodule "LeNet5-MNIST-PyTorch"]
	path = LeNet5-MNIST-PyTorch
	url = git@github.com:zhaolanhuang/LeNet5-MNIST-PyTorch.git
